################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Sagi_Belmash_Matan_Zeharia/FileContentIndex
.vs/